# Dependencies
node_modules/

# Build outputs
dist/
target/
releases/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tauri
src-tauri/target/

# Test coverage
coverage/

# Temporary files
*.tmp
*.temp

# Symbol Files
*.sym
*.dbc
*.dbc.gz
*.dbc.bz2
*.dbc.xz
*.dbc.tar
*.dbc.tar.gz
*.dbc.tar.bz2
*.dbc.tar.xz

# Trace files
*.trc
*.csv
*.log
*.txt
*.log.gz
*.log.bz2
*.log.xz
*.log.tar
*.log.tar.gz 

